<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionstrings>
        <add connectionstring="server=132.147.180.13;user id=sistemas;
                           password=sistemas;persist security info=True;
                           database=gestion_caja" providername="MySql.Data.MySqlClient" name="conexionBD">
  </add></connectionstrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
