<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ALFARO_CAJA.Properties.Settings.Mariadb_cn" connectionString="server=132.147.180.13;user id=sistemas;password=sistemas;persistsecurityinfo=True;database=gestion_caja" providerName="MySql.Data.MySqlClient"/>
    <add name="ALFARO_CAJA.Properties.Settings.Conexion" connectionString="server=ALFCHI013;user id=sistemas;password=sistemas;persistsecurityinfo=True;database=gestion_caja" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup> 
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
